@model Midterm2.Models.Quote

@{
    ViewBag.Title = "Delete";
}

<h1>@ViewBag.Title</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteSentence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuoteSentence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Citation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Citation)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="QuoteId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
