@model IEnumerable<Midterm2.Models.Quote>

@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuoteSentence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteSentence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuoteId" class="btn btn-success">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.QuoteId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
